.*txt
Golang Swahili Modification.txt

.vscode

# OS files
.DS_Store
Thumbs.db

# Node (only if you use tooling like npm, vite, webpack)
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor configs
.vscode/
.idea/

# Env files (if any)
.env
.env.local


site/